footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natour logo')
    ul.footer__nav
        li: a(href='https://www.freecodecamp.org/forum/u/caralagumen/summary') About us
        li: a(href='https://caralagumen.github.io/cyberbird/') Download apps
        li: a(href='https://documenter.getpostman.com/view/6660913/SVzxZfwF?version=latest') Become a guide
        li: a(href='https://github.com/CaraLagumen') Careers
        li: a(href='mailto:caralagumen@gmail.com') Contact
    p.footer__copyright &copy; by Cara Lagumen.